@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-space-grotesk);

  --color-primary-DEFAULT: #0F172A;
  --color-secondary-DEFAULT: #1E293B;
  --color-accent-DEFAULT: #0ea5e9;

  --color-background: #F8FAFC;
  --color-foreground: #0F172A;
}

@layer base {
  html {
    scroll-behavior: auto;
    /* Handled by Lenis */
  }
}